body { 
	background-color: white;
 }
a { 
	text-decoration: none;
	color:white;
 }

 * {
 	box-sizing: border-box;
 }
 /*
	 Light blue: #75e2e6
    Dark blue: #048eaa
    Background color: #ffffff
    White text: #ffffff
    Body text: #000000

  */ 

.header {
	height: 110vh;
	background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(images/park.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-color: ;
	
}

/* HEADER NAV */ 

.header__nav{ 
	position: relative;
	background-color: #75e2e6;
	border-bottom: 3px solid #048eaa;
 }
.header__nav__list{
	margin: 0;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 1rem;
	
}

.header__nav__list__item{
	display: inline-block;
	margin: 0.5rem 2rem;
	font-size: 1.4rem;
}


.logo {
	vertical-align: middle;
	background-image: url(images/dog-icon.svg);
	background-repeat: no-repeat;
	padding: 1.6rem;
	display: inline-block;
}

/* HEADER MAIN */ 
.header__main {
	width: 61%;
	margin: 0 auto;
	text-align: center;
	color: white;
}

.header__wrp{
	text-align: center;
	width: 50%;
	margin:0 auto;
}

.header__main__h1 {
	font-size: 2.65rem;
	font-weight: normal;
}

.headere__main__image{
	border-radius: 50%;
	border: solid 4px #048eaa;
}

.header__main__form{
	margin-top: 2rem;
	text-align: left;
}

label {
	font-weight: bold;
}

.header__form__text{
	width: 100%;
	padding: .75rem 0;
	margin-top: 0.6rem;
}

.header__form__submit{
	padding: .75rem;
	width: 100%;
	margin-top: 0.6rem;
	background-color: #75e2e6;
	border:none;
	font-weight: bold;
}

/*  MAin   */ 

.main {
	width: 90%;
	margin: 0 auto;
}

.one,
.two,
.three {
	text-align: center;
	vertical-align: top;
	display: inline-block;
	width: calc((100%/3));
	padding: 0 1.5rem;
	
}

.inImg {
	height: 220px;
	border-radius: 50%;
	border: solid 3px #048eaa;
}

.one__p, 
.two__p, 
.three__p { 
	margin-top: 1.5rem;
	text-align:center;
	font-weight: 600;
	text-align: left;
	line-height: 1.5rem;
 }


.btns { 
	width: 100%;
	margin: 3rem auto;
	text-align: center;
	
 }

 .btn { 
 	display: inline-block;
 	width: calc((100%/3) - 3rem);
 	padding: .61rem 0;
	background-color: #048eaa;
	color: white;
	border: none;
  }

.one__btn { 
	position: relative;
	right: 3rem;
 }

 .three__btn { 
  	position: relative;
  	left: 3rem;
  }

  /*	Footer	*/

  .footer { 
  	background-color:#048eaa; 
  	text-align: center;
  	color: white;
  	margin-bottom: 0;
   }

   .footer__headline { 
   		padding-top: 1rem;
    }

  .icon {
  	height: 100px;
  	width: 100px;
  	padding: 1rem;
  	display: inline-block;
  	vertical-align: middle;
  } 